<div class="card flex justify-content-center">
  <p-dialog [(visible)]="visible" appendTo="body">
    <ng-template pTemplate="content align-content-center">
      <div class="card flex flex-column gap-2">
        <h3 class="text-center m-2">Select Location</h3>
        <p-autoComplete
          [(ngModel)]="selectedLocationSearch"
          [suggestions]="locationOptions"
          field="name"
          class="m-2"
          (keydown.enter)="enterSelectMethod()"
          (completeMethod)="completeMethod()"
          (onSelect)="selectMethod($event)"
          class="p2"
        ></p-autoComplete>
        <div class="separator"></div>
        <button
          pButton
          pRipple
          label="Add Location"
          class="p-button-primary m-2"
          (click)="addLocationMethod()"
        ></button>
      </div>
    </ng-template>
  </p-dialog>
  <p-button
    (click)="showCityPicker()"
    icon="pi pi-plus"
    label="Add Location"
    styleClass="p-button-raised p-button-primary"
  ></p-button>
</div>
